:root {    
    --header-text-color: #ffd19a;
    --body-background-color: #e9e4dd;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
}

header {
    color: var(--body-background-color);
    text-align: center;
    padding: 1em 0;
    background: linear-gradient(217deg, rgba(190, 56, 56, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(336deg, rgba(128, 128, 226, 0.8), rgba(0,0,255,0) 70.71%),
                linear-gradient(127deg, rgba(218, 111, 87, 0.8), rgba(0,255,0,0) 70.71%);
}

#documentation {
    width: 50%;
    margin: 2em auto;
    text-align: center;
    color: #616060;

}

#base-url {
    justify-content: center;
    display: flex;
    align-items: center;
}

.code-description {
    margin-right: 5px;
}

.code-container {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    padding: 1px;
    border-radius: 5px;
}

.code-container code {
    color: #ecf0f1;
    margin-right: 5px;
    margin-left: 3px;

}

.code-container button {
    color: #ecf0f1;
    background-color: transparent;
    border-color: #2c3e50;
}


.endpoint {
    margin-top: 25px;
    justify-content: center;
    display: flex;
}

.endpoint p {
    margin-top: -1px;
    margin-left: 10px;
}

.endpoint code {
    margin: 0;
}


#demo {
    width: 50%;
    margin: 2em auto;
    text-align: center;
}

#demo-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

/*
button {
    background-color: #50b3a2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #338b7b;
}
*/